* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f2f2f2;
    font-family: "inter", sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 21px 60px;
    background-color: #0c70f2;
    color: #ffffff;
  
    > div {
      display: flex;
      p {
        margin-left: 20px;
        font-weight: bold;
      }
    }
  }
  
  section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .info {
    display: flex;
    align-items: center;
    margin-top: 60px;
  
    font-size: 30px;
  }
  
  .info img {
    height: 180px;
    margin-bottom: 80px;
    margin-left: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 100px 64px 50px;
  
    background: #ffffff;
    border-radius: 20px;
  }
  
  label {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  input {
    padding: 16px;
    background-color: #f2f2f2e5;
  
    border: none;
    border-radius: 10px;
  
    margin-bottom: 40px;
  }
  
  form p {
    margin-bottom: 15px;
    font-size: 17px;
  }
  
  .previsaoTempo input {
    margin-right: 10px;
  }
  
  button {
    background-color: #247ef3;
    box-shadow: 0px 6px 4px 0px #0c70f240;
    color: #ffffff;
  
    font-weight: 600;
    font-size: 18px;
  
    padding: 10px;
  
    border: none;
    border-radius: 10px;
  
    cursor: pointer;
  }
  
  .cepHeader {
    display: flex;
    align-items: center;
    font-size: 30px;
  }
  
  .cepHeader img {
    height: 100px;
    margin-bottom: 35px;
  }
  
  .infoCep{
    width: 40%;
    border-radius: 20px;
  
    margin-bottom: 60px;
  }
  
  #buscaCep{
    display: flex;
    justify-content: space-around;
    
    background-color: #0c70f2;
    color: #ffffff;
  
    border-radius: 10px 10px 0 0;
  
    padding: 15px 10px;
  }
  
  #resultCep{
    display: grid;
    grid-template-columns: 35% 34% 27%;
    text-align: center;
    background-color: #ffffff;
    color: #000;
  
    font-weight: bold;
  
    border-radius: 0 0 10px 10px;
  
    padding: 15px 10px;
  }
  
  
  .weatherInfo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  
    font-size: 29px;
  }
  
  .weatherInfo img{
    height: 80px;
  }
  
  .resultWeather{
    width: 40%;
    padding: 10px;
  
    font-weight: bold;
  
  
    background: #ffffff;
    border-radius: 20px;
    border: 1px solid #0c70f2;
    text-align: center;
  
    margin-bottom: 200px;
  }
  
  footer {
    display: flex;
    justify-content: end;
    padding: 15px 30px;
  
    background-color: #0c70f2;
    color: #ffffff;
  }

  .hide{
    display: none;
  }
